body{
    background-color: #ffff;
}
.limite{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.livro{
    background-color: rgb(255, 255, 255);
    padding: 20px   ;
    border-radius: 10px;
    box-shadow: 0 0 10px #449dd14f;
    width: 300px;
    cursor: pointer;
    transition: 0.2s;
}
.livro:hover{
    transform: scale(1.1);
}